@model IEnumerable<BugMania.Shapes.BugReport>

@using BugMania.Helpers;

@{
    ViewBag.Title = "Home";
}
<div class="div-margin-10">
    <div class="container-fluid">
        <div class="row m-b-10">
            <div class="col-sm-6">
                @Html.ActionLink("+", "Create", "CreateBugReport", null,
                    new { @class = "btn btn-success glyphicon btn-link-text color-white pull-left",
                        Title = "Create Report" })
            </div>
            <form class="col-sm-6">
                @using (Html.BeginForm("View", "ViewAllBugReport", FormMethod.Get))
                {
                    <input type="search" name="filter" class="form-control pull-right searchbox" placeholder="Search" />
                }
            </form>
        </div>
        <div class="min-height-20">
            @if (!String.IsNullOrEmpty(ViewBag.Filters))
            {
                <a class="inline-block card-info search-filter-tag btn-link-text float-right" href="@Url.Action("View", "ViewAllBugReport")">
                    @ViewBag.Filters   <b>x</b>
                </a>
            }
        </div>
    </div>
    <hr />
    
    @foreach (var item in Model)
    {
        <a class="display-block card width-100p min-height-100" href="@Url.Action("Details", "ViewSingleBugReport", new { id = item.Id })">

            <div class="card-row">
                <div class="inline-block card-info">
                    <label class="btn-link-text">
                        @DateTimeHelpers.GetRelativeTimePassed(item.CreateDateTime)
                    </label>
                </div>
                <div class="float-right inline-block">
                    <span class="card-label">
                        @Html.DisplayNameFor(model => model.Status.Name):
                    </span>
                    <span class="card-info">
                        @Html.DisplayFor(modelItem => item.Status.Name)
                    </span>
                </div>
            </div>
            <div class="card-row">
                <div class="inline-block card-title">
                    <span class="">
                        @item.Title
                    </span>
                </div>
                <div class="inline-block float-right">
                    <span class="card-label">
                        @Html.DisplayNameFor(model => model.Priority.Name):
                    </span>
                    <span class="card-info m-r-5">
                        @Html.DisplayFor(modelItem => item.Priority.Name)
                    </span>
                    <span class="card-label">
                        @Html.DisplayNameFor(model => model.Severity.Name):
                    </span>
                    <span class="card-info">
                        @Html.DisplayFor(modelItem => item.Severity.Name)
                    </span>
                </div>
            </div>
            <div class="card-row bottom-card">
                <div class="inline-block">
                    @foreach (var tag in item.Tags)
                    {
                        <span class="card-info card-tag">
                            @Html.DisplayFor((a) => tag.Name)
                        </span>
                    }
                </div>
                <div class="float-right inline-block">
                    <span class="card-label">
                        @Html.DisplayNameFor(model => model.Product.Name):
                    </span>
                    <span class="card-info">
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </span>
                </div>
            </div>

        </a>
    }
</div>