@model BugMania.Models.DetailsBugReportViewModel

@using BugMania.Helpers;
@using BugMania.Models;

@{
    ViewBag.Title = Model.Title;
}

@Html.ActionLink(" ", "Index", null,
    new { @class = "glyphicon glyphicon-arrow-left btn-link-text font-size-25",
        Title = "Back" })
<div class="report">
    <div class="report-title">
        @Model.Title
    </div>
    <div class="report-container">
        <div class="report-header">
            <div class="inline-block m-r-5">
                @Html.LabelFor(model => model.Status, "Status", htmlAttributes: new { @class = "card-info-bold" }):
                @Html.DisplayFor(model => model.Status.Name, new { @class = "" })
            </div>
            <div class="inline-block m-r-5">
                @Html.LabelFor(model => model.Severity, "Severity", htmlAttributes: new { @class = "card-info-bold" }):
                @Html.DisplayFor(model => model.Severity.Name, new { @class = "" })
            </div>
            <div class="inline-block m-r-5">
                @Html.LabelFor(model => model.Priority, "Priority", htmlAttributes: new { @class = "card-info-bold" }):
                @Html.DisplayFor(model => model.Priority.Name, new { @class = "" })
            </div>
            <div class="inline-block float-right">
                @Html.LabelFor(model => model.Product, "Product", htmlAttributes: new { @class = "card-info-bold" }):
                @Html.DisplayFor(model => model.Product.Name, new { @class = "" })
            </div>
        </div>
        <hr class="report-header-divider" />
        <div class="report-body">
            @Html.DisplayFor(model => model.Description, new { @class = "" })
        </div>
        <div class="report-footer">
            <label class="">
                @DateTimeHelpers.GetRelativeTimePassed(Model.CreateDateTime)
                by
                @Html.DisplayFor(model => model.Author.UserName, new { @class = "" })
            </label>
            
        </div>
    </div>
    <div class="m-t-10">
        @foreach (var tag in Model.Tags)
        {
            <span class="card-info card-tag min-height-40">
                @Html.DisplayFor((modelItem) => tag.Name)
            </span>
        }
    </div>
</div>

@*@Html.Partial("_CreateComment", new CreateCommentViewModel(), new ViewDataDictionary(ViewData)
    {
        TemplateInfo = new System.Web.Mvc.TemplateInfo
        {
            HtmlFieldPrefix = "ValueToSend"
        }
    });*@

@Html.Partial("_CreateComment", new CreateCommentViewModel(), new ViewDataDictionary(ViewData)
{{
        "BugReportId", Model.Id
}})

<div class="comments-container">
    @foreach (var comment in Model.getCommentsDescending)
    {
    <div class="comment-card">
        <div class="comment-profile">
            <img class="profile-picture" src="~/Content/Images/default-profile.png" />
            <div class="profile-user">
                @Html.DisplayFor(model => comment.Commenter.UserName, new { @class = "" })
            </div>
        </div>
        <div class="comment-content">
            <div class="comment-body">
                @Html.DisplayFor(model => comment.Content, new { @class = "" })
            </div>
            <div class="comment-time">
                <label>@DateTimeHelpers.GetRelativeTimePassed(comment.CommentDateTime, "Commented")</label>
            </div>
        </div>
    </div>
    }

</div>