@model BugMania.Models.DetailsBugReportViewModel

@{
    ViewBag.Title = Model.Title;
}

@Html.ActionLink("Back", "Index", null, new { @class = "glyphicon glyphicon-chevron-left btn-link-text" })
<div class="report">
    <div class="">
        <h2 class="report-title">@Model.Title</h2>
    </div>
    <hr />
    <div class="report-body">
        <div class="">
            @Html.DisplayFor(model => model.Description, new { @class = "control-label col-md-2" })
        </div>

        <div class="">
            @Html.DisplayFor(model => model.Product, new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.Severity, "Severity", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.Severity.Name, new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Priority, "Priority", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.Priority.Name, new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            @foreach (var tag in Model.Tags)
            {
                <span class="card-info card-tag min-height-40">
                    @Html.DisplayFor((modelItem) => tag.Name)
                </span>
            }
        </div>
    </div>
</div>