@using BugMania.Helpers;

@model IEnumerable<Reports.Entities.BugReport>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            @Html.ActionLink("+", "Create", null, new { @class = "btn btn-success glyphicon btn-link-text color-white pull-left" })
        </div>
        <form class="col-sm-6">
            @using (Html.BeginForm("Index","BugReports", FormMethod.Get))
            {
                <input type="search" name="filter" class="form-control pull-right searchbox" placeholder="Search" />
            }
        </form>
    </div>
</div>
<div><hr class="divider" /></div>
@foreach (var item in Model)
{
    
<div class="width-100p min-height-100 card">
    <a class="display-block" href="@Url.Action("Details", "BugReports", new { id = item.Id })">
        <div class="card-row">
            <div class="inline-block card-info">
                <label class="btn-link-text">
                    @DateTimeHelpers.GetRelativeTimePassed(item.CreateDateTime)
                </label>
            </div>
            <div class="float-right inline-block">
                <span class="card-label">
                    @Html.DisplayNameFor(model => model.Status.Name):
                </span>
                <span class="card-info">
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </span>
            </div>
        </div>
        <div class="card-row">
            <div class="inline-block">
                <span class="card-title">@item.Title</span>
            </div>
            <div class="float-right inline-block">
                <span class="card-label">
                    @Html.DisplayNameFor(model => model.Priority.Name):
                </span>
                <span class="card-info m-r-5">
                    @Html.DisplayFor(modelItem => item.Priority.Name)
                </span>
                <span class="card-label">
                    @Html.DisplayNameFor(model => model.Severity.Name):
                </span>
                <span class="card-info">
                    @Html.DisplayFor(modelItem => item.Severity.Name)
                </span>
            </div>
        </div>
        <div class="card-row bottom-card">
            <div class="inline-block">
                @foreach (var tag in item.Tags)
                {
                    <span class="card-info card-tag">
                        @Html.DisplayFor((a) => tag.Name)
                    </span>
                }
            </div>
            <div class="float-right inline-block">
                <span class="card-label">
                    @Html.DisplayNameFor(model => model.Product.Name):
                </span>
                <span class="card-info">
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </span>
            </div>
        </div>
    </a>
</div>
}